body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #EAF2E3;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 380px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
}

header h1 {
    font-size: 2.2rem;
    margin: 0;
    color: #3A5A40;
}

header h2 {
    font-size: 1.8rem;
    margin: -10px 0 20px 0;
    font-weight: 400;
    color: #588157;
}

#gauge {
    width: 320px;
    height: 260px;
    margin: 0 auto;
}

#gauge-label {
    font-size: 1rem;
    color: #555;
}

#btn-regar {
    width: 80%;
    padding: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background-color: #E63946;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.1s;
}

#btn-regar:hover {
    background-color: #D62839;
}

#btn-regar:active {
    transform: scale(0.98);
}

#senha {
    display: block;
    margin: 0 auto 15px auto; /* Centraliza e adiciona espaço abaixo */
    padding: 10px;
    width: 75%;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
}